<div class="container-custom">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">{{ 'passwordNewCreate' | translate }}</h2>
		</div>
		<div class="card-body">
			<p>{{ 'passwordNewCreateInfo' | translate }}</p>
			<form #forgottenPasswordForm="ngForm" (ngSubmit)="onSubmit(forgottenPasswordForm)">
				<div class="form-group">
					<label for="password">{{ 'password' | translate }}</label>
					<input type="password" id="password" class="form-control" minlength="8" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="********" required>
				</div>
				<div *ngIf="!password.valid && password.dirty">
					<label *ngIf="password.errors.required">{{ 'fieldRequired' | translate }}</label>
					<label *ngIf="password.errors.minlength">{{ 'passwordLength' | translate }}</label>
				</div>
				<div class="form-group">
					<label for="confirmPassword">{{ 'passwordConfirm' | translate }}</label>
					<input type="password" id="confirmPassword" minlength="8" appEqualPasswordValidator="password" class="form-control" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" placeholder="********" required>
				</div>
				<div *ngIf="!confirmPassword.valid && confirmPassword.dirty" class="mb-3">
					<div *ngIf="confirmPassword.errors.required">{{ 'fieldRequired' | translate }}</div>
					<div *ngIf="confirmPassword.errors.minlength">{{ 'passwordLength' | translate }}</div>
					<div *ngIf="confirmPassword.errors.notEqual && !confirmPassword.errors.required">{{ 'passwordMatch' | translate }}</div>
				</div>
				<div class="text-center">
					<input type="submit" class="btn-block" [disabled]="!forgottenPasswordForm.valid" value="Jelszó létrehozása">
				</div>
			</form>
		</div>
	</div>
</div>