<footer class="bg-dark text-center">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4">
  				<h5>Hasznos információk</h5>
  				<ul>
  				  	<li>
  				  		<a [routerLink]="['/privacy-policy']">Adatvédelmi tájékoztató</a>
  					</li>
				  	<li>
  				  		<a [routerLink]="['/cookie-policy']">Cookie tájékoztató</a>
  					</li>
  				</ul>
          <hr class="d-sm-none d-xs-block">
  			</div>
  			<div class="col-md-4">
  				<h5>Kapcsolat</h5>
  				<ul>
  					<li>
  						<fa name="envelope" size="lg" fixed="true"></fa>adam2458hu@gmail.com
  					</li>
            <li>
              <fa name="phone-square" size="lg" fixed="true"></fa>+36-30-912-3882
            </li>
  				</ul>
          <hr class="d-sm-none d-xs-block">
  			</div>
  			<div class="col-md-4">
  				<h5>Egyéb linkek</h5>
  				<ul>
  		  			<li>
  		  				<a href="https://www.steampowered.com" target="_blank">Steam áruház</a>
  		  			</li>
  				</ul>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-12">
  				<hr>
  				<span class="copyright">2020 - Digital Deals</span>
  			</div>
  		</div>
  	</div>
</footer>