@import "../../variables";
@import "../../mixins";

footer{
	box-shadow: 0 10px 40px 2px darken($color-secondary,10%);
	width: 100%;
	border-top: 2px solid darken($color-secondary,10%);
	padding: 10px 20px;
	margin-top: auto;

	hr {
		border: 0.5px solid $color-secondary;
	}

	ul {
		@include reset-list;
	}

	.copyright {
		font-size: 14px;
		font-style: italic;
	}
}

@media screen and (max-width: 992px){
	footer {
		font-size: 14px;

		h5 {
			font-size: 18px;
		}

		.copyright {
			font-size: 12px;
		}
	}
}