<footer class="bg-dark text-center">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4">
  				<h5>{{ 'importantInformations' | translate}}</h5>
  				<ul>
  				  	<li>
  				  		<a [routerLink]="['/privacy-policy']">{{ 'privacyPolicy' | translate }}</a>
  					</li>
				  	<li>
  				  		<a [routerLink]="['/cookie-policy']">{{ 'cookiePolicy' | translate}}</a>
  					</li>
  				</ul>
          <hr class="d-sm-none d-xs-block">
  			</div>
  			<div class="col-md-4">
  				<h5>{{ 'contact' | translate }}</h5>
  				<ul>
  					<li>
  						<fa name="envelope" size="lg" fixed="true"></fa>adam2458hu@gmail.com
  					</li>
            <li>
              <fa name="phone-square" size="lg" fixed="true"></fa>+36-30-912-3882
            </li>
  				</ul>
          <hr class="d-sm-none d-xs-block">
  			</div>
  			<div class="col-md-4">
  				<h5>{{ 'other' | translate}}</h5>
          <ul>
            <li>
              <fa name="globe" size="lg"></fa>
              {{ 'language' | translate }}:
              <select name="language" id="language" (change)="changeLang($event.target.value)" style="color:black">
                <option value="en" [selected]="lang == 'en'">English</option>
                <option value="hu" [selected]="lang == 'hu'">Magyar</option>
              </select>
            </li>
          </ul>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-12">
  				<hr>
  				<span class="copyright">2020 - Digital Deals List</span>
  			</div>
  		</div>
  	</div>
</footer>