#trustedDevices {
	line-height: 31px;

	.row {
		margin: 0;

		&:not(:first-child){
			font-size: 14px;
		}

		&:first-child {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
		}

		div:first-child {
			padding-left: 0;
		}

		div:last-child {
			padding-right: 0;
		}
	}
}