<div class="container-custom animated">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">{{ 'security' | translate }}</h2>
		</div>
		<div class="card-body">
			<form #changePassword="ngForm" (ngSubmit)="onSubmit(changePassword)">
				<h3>{{ 'passwordChange' | translate }}</h3>
				<div class="form-group">
					<label for="password">{{ 'passwordNew' | translate }}</label>
					<input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="8" placeholder="********" required>
					<div *ngIf="!password.valid && password.dirty">
						<div *ngIf="password.errors.required">{{ 'fieldRequired' | translate }}</div>
						<div *ngIf="password.errors.minlength">{{ 'passwordLength' | translate }}</div>
					</div>
				</div>
				<div class="form-group mb-3">
					<label for="confirmPassword">{{ 'passwordNewConfirm' | translate }}</label>
					<input type="password" id="confirmPassword" class="form-control" name="confirmPassword" [(ngModel)]="user.confirmPassword" appEqualPasswordValidator="password" #confirmPassword="ngModel" minlength="8" placeholder="********" required>
					<div *ngIf="!confirmPassword.valid && confirmPassword.dirty">
						<div *ngIf="confirmPassword.errors.required">{{ 'fieldRequired' | translate }}</div>
						<div *ngIf="confirmPassword.errors.minlength">{{ 'passwordLength' | translate }}</div>
						<div *ngIf="confirmPassword.errors.notEqual && !confirmPassword.errors.required">A két jelszó nem egyezik</div>
					</div>
				</div>
				<input type="submit" class="btn-block" value="{{ 'saveChanges' | translate }}">
			</form>
			<hr>
			<h3>{{ 'twoFactorAuthentication' | translate }}</h3>
			<div class="alert alert-info">
				{{ 'twoFactorAuthenticationInfo' | translate }}
			</div>
			<p>{{ 'twoFactorAppInfoStart' | translate }}<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Android</a>{{ 'twoFactorAppInfoMiddle' | translate }}<a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank">IOS</a> {{ 'twoFactorAppInfoEnd' | translate }}
			</p>
			<button type="button" *ngIf="!getUserService().getUser().twoFactorGoogleEnabled" class="btn-block mb-3" (click)="toggleTwoFactor('App')">{{ 'twoFactorAppEnable' | translate }}</button>
			<button type="button" *ngIf="getUserService().getUser().twoFactorGoogleEnabled" class="btn-block mb-3" (click)="toggleTwoFactor('App')">{{ 'twoFactorAppDisable' | translate }}</button>
			<p>{{ 'twoFactorEmailInfo' | translate }}</p>
			<button type="button" *ngIf="!getUserService().getUser().twoFactorEmailEnabled" class="btn-block" (click)="toggleTwoFactor('Email')">{{ 'twoFactorEmailEnable' | translate }}</button>
			<button type="button" *ngIf="getUserService().getUser().twoFactorEmailEnabled" class="btn-block" (click)="toggleTwoFactor('Email')">{{ 'twoFactorEmailDisable' | translate }}</button>
			<hr>
			<h3>{{ 'trustedDevices' | translate }}</h3>
			<div *ngIf="getUserService().getUser().trustedDevices.length==0;else elseBlock" class="text-center">{{ 'trustedDevicesNone' | translate }}</div>
			<ng-template #elseBlock>
				<div id="trustedDevices">
					<div class="row mb-2">
						<div class="col-3">{{ 'deviceIP' | translate }}</div>
						<div class="col-4">{{ 'country' | translate }}</div>
						<div class="col-3">{{ 'trustedDate' | translate }}</div>
						<div class="col-2"></div>
					</div>
					<div *ngFor="let device of getUserService().getUser().trustedDevices" class="row mb-2">
						<div class="col-3">
							{{ device.ip }}
						</div>
						<div class="col-4">
							{{ device.country }}
						</div>
						<div class="col-3">
							{{ device.trustedDate | date:'short'}}
						</div>
						<div class="col-2 text-right">
							<button class="btn-sm" (click)="untrustDevice(device)">{{ 'delete' | translate }}</button>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>
<div *ngIf="isPopupOpened()" class="modal-container">
	<div class="custom-modal card">
		<form #twoFactorForm="ngForm" (ngSubmit)="enableTwoFactor(twoFactorForm)">
			<div class="card-header">
				<h3 *ngIf="popupType=='appTwoFactor'">Hitelesítő alkalmazás bekapcsolása</h3>
				<h3 *ngIf="popupType=='emailTwoFactor'">Email hitelesítés bekapcsolása</h3>
				<h3 *ngIf="popupType=='smsTwoFactor'">SMS hitelesítés bekapcsolása</h3>
			</div>
			<div class="card-body">
				<div *ngIf="popupType=='appTwoFactor'" class="text-center mb-3">
					<p>Kérjük, hogy szkennelje be az alábbi QR kódot az okostelefonjára telepített valamely hitelesítő alkalmazást használva, és írja be a lent található beviteli mezőbe az alkalmázásban megjelenő 6 számjegyű kódot.</p>
					<img src="{{ qrcodeImgSrc }}" alt="QRcode">
				</div>
				<p *ngIf="popupType=='emailTwoFactor'">Kérjük írja be az email címére küldött üzenetben található 6 számjegyű kódot.</p>
				<p *ngIf="popupType=='smsTwoFactor'">Kérjük írja be a telefonszámára küldött SMS-ben található 6 számjegyű kódot.</p>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text text-white">Ellenőrző kód:</span>
					</div>
					<input type="text" class="form-control" id="code" name="code" [(ngModel)]="code" placeholder="******">
				</div>
				<input type="hidden" id="type" name="type" [(ngModel)]="popupType">
			</div>
			<div class="card-footer">
				<button type="button" class="mr-3" (click)="setPopup(false);deleteProperties({twoFactorTempSecret:1});">Mégsem</button>
				<input type="submit" value="Küldés">
			</div>
		</form>
	</div>
</div>