<div class="container-custom">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">{{ 'details' | translate }}</h2>
		</div>
		<div class="card-body">
			<form #userDetailsForm="ngForm" (ngSubmit)="onSubmit(userDetailsForm)">
				<div class="row">
					<div class="col-4 text-right">{{ 'identifier' | translate }}:</div>
					<div class="col-8">
						<input type="text" name="_id" [(ngModel)]="getUserService().getUser()._id" class="form-control" disabled>
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right">
						<label for="email">Email:</label>
					</div>
					<div class="col-8">
						<input type="text" id="email" name="email" [(ngModel)]="getUserService().getUser().email" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right">
						<label for="first_name">{{ 'firstName' | translate }}:</label>
					</div>
					<div class="col-8">
						<input type="text" id="first_name" name="first_name" [(ngModel)]="getUserService().getUser().first_name" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right">
						<label for="last_name">{{ 'lastName' | translate }}:</label>
					</div>
					<div class="col-8">
						<input type="text" id="last_name" name="last_name" [(ngModel)]="getUserService().getUser().last_name" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-4 text-right">
						<label for="language">{{ 'language' | translate }}:</label>
					</div>
					<div class="col-8">
						<select name="language" id="language" class="form-control" [(ngModel)]="getUserService().getUser().language">
							<option value="en">English</option>
							<option value="hu">Magyar</option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-4 text-right">
						<label for="consentToNewsletter">{{ 'subscribedToNewsletter' | translate }}:</label>
					</div>
					<div class="col-8">
						<label class="mt-1">
							<input type="checkbox" id="consentToNewsletter" name="consentToNewsletter" [(ngModel)]="getUserService().getUser().consentToNewsletter">
							<span *ngIf="getUserService().getUser().consentToNewsletter" class="ml-2">{{ 'yes' | translate }}</span>
							<span *ngIf="!getUserService().getUser().consentToNewsletter" class="ml-2">{{ 'no' | translate }}</span>
						</label>
					</div>
				</div>
				<input type="submit" class="btn-block" value="{{ 'saveChanges' | translate }}">
				<hr>
			</form>
			<h3>{{ 'downloadPersonalData' | translate }}</h3>
			<div *ngIf="!getUserService().getUser().twoFactorGoogleEnabled && !getUserService().getUser().twoFactorEmailEnabled; else elseBlock">
				<p>{{ 'downloadPersonalDataRequirements' | translate }}</p>
				<button [routerLink]="['/profile/security']" class="btn-block">{{ 'selectAuthentication' | translate }}</button>
			</div>
			<ng-template #elseBlock>
				<p>{{ 'chooseFormat' | translate }}</p>
				<form #requestedFormat="ngForm" (ngSubmit)="sendPersonalInformations(requestedFormat)">
					<div class="row mb-3">
						<div class="col-4 text-right">
							<label for="format">{{ 'format' | translate }}:</label>
						</div>
						<div class="col-8">
							<select name="format" [(ngModel)]="format" id="format" class="form-control">
								<option value="pdf">PDF</option>
								<option value="json">JSON</option>
							</select>
						</div>
					</div>
					<input class="btn-block" type="submit" value="{{ 'requestData' | translate }}">
				</form>
			</ng-template>
			<hr>
			<h3>{{ 'deleteProfile' | translate }}</h3>
			<button type="button" class="btn-block" (click)="setPopup(true)">{{ 'deleteProfile' | translate }}</button>
		</div>
	</div>
</div>
<div *ngIf="isPopupOpened()" class="modal-container">
	<div class="custom-modal card">
		<div class="card-header">
			<h3>{{ 'deleteProfileConfirm' | translate }}</h3>
		</div>
		<div class="card-body">
			<p>{{ 'deleteProfileInfo' | translate }}</p>
		</div>
		<div class="card-footer">
			<button type="button" class="mr-3 mb-3 mb-sm-0" (click)="setPopup(false)">{{ 'cancel' | translate }}</button>
			<button type="button" (click)="deleteProfile()">{{ 'delete' | translate }}</button>
		</div>
	</div>
</div>