<div class="container-custom animated">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">
				<fa name="cookie" size="lg" fixed="true"></fa>Cookie tájékoztató
			</h2>
		</div>
		<div class="card-body">
			<h3>Mi az a cookie?</h3>
			<p>A cookie vagy magyarul süti egy olyan kis méretű szöveges állomány, amelyet a böngészőben tárolva lehetővé teszi, hogy a szerver felé irányuló kliens kérését összekössük egy korábbi kérés során szerzett adattal.</p>
			<hr>
			<h3>Milyen típusú sütiket használunk?</h3>
			<p></p>
			<hr>
			<h3>Milyen esetekben használjuk a sütiket?</h3>
			<ol>
				<li>Az "emlékezz rám" funkció használatával a bejelentkezéskor.</li>
				<li>A sikeres bejelentkezést követően generált hozzáférést biztosító token.</li>
				<li>A munkamenet során használt 5 perces számláló frissítésére szolgáló frissítő token.</li>
			</ol>
		</div>
	</div>
</div>