<h2 class="text-center">
	{{ 'cookiePolicy' | translate }}
</h2>
<h3>{{ 'whatIsACookieQuestion' | translate }}</h3>
<p>{{ 'whatIsACookieAnswer' | translate }}</p>
<hr>
<h3>{{ 'whatTypeOfCookiesQuestion' | translate }}</h3>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="15%">{{ 'cookieName' | translate }}</th>
				<th width="10%">{{ 'category' | translate }}</th>
				<th width="10%">{{ 'type' | translate }}</th>
				<th width="55%">{{ 'purpose' | translate }}</th>
				<th width="10%">{{ 'validity' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>accessToken</td>
				<td>{{ 'necessary' | translate }}</td>
				<td>{{ 'session' | translate }}</td>
				<td>A sikeres bejelentkezést követően generált hozzáférést biztosító token.</td>
				<td>5 {{ 'minutes' | translate }}</td>
			</tr>
			<tr>
				<td>refreshToken</td>
				<td>{{ 'necessary' | translate }}</td>
				<td>{{ 'session' | translate }}</td>
				<td>A munkamenet során használt 5 perces számláló frissítésére szolgáló frissítő token.</td>
				<td></td>
			</tr>
			<tr>
				<td>remmeberMeToken</td>
				<td>{{ 'necessary' | translate }}</td>
				<td>{{ 'session' | translate }}</td>
				<td>Az "emlékezz rám" funkció használatakor a felhasználó azonosítását szolgáló tokent tartalmazza, amit az azonnali beléptetéshez használunk.</td>
				<td></td>
			</tr>
			<tr>
				<td>lang</td>
				<td>{{ 'functional' | translate }}</td>
				<td>{{ 'persistent' | translate }}</td>
				<td>A honlap nyelve, ami alapértelmezetten az IP cím alapján kerül kiválasztásra, de a felhasználó megváltoztathatja a lap alján található legördülő menüvel.</td>
				<td></td>
			</tr>
			<tr>
				<td>currency</td>
				<td>{{ 'functional' | translate }}</td>
				<td>{{ 'persistent' | translate }}</td>
				<td>A honlapon található árak pénzneme, ami alapértelmezetten az IP cím alapján kerül kiválasztásra, de a felhasználó megváltoztathatja az akciók listája felett található pénznem választó legördülő menüvel.</td>
				<td></td>
			</tr>
			<tr>
				<td>Google Analytics</td>
				<td>{{ 'analytical' | translate }}</td>
				<td></td>
				<td>A Google Analytics által létrehozott sütik - A felhasználói látogatottságot elemző sütik. Ezeket az adatvédelmi beállítások gombra kattintva, a felugró panelen kikapcsolhatóak.</td>
				<td></td>
			</tr>
			<tr>
				<td>Google Adsense</td>
				<td>{{ 'advertising' | translate }}</td>
				<td></td>
				<td>{{ 'advertisingCookiesInfo' | translate }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>