<h2 class="text-center">
	{{ 'cookiePolicy' | translate }}
</h2>
<hr>
<h3>{{ 'whatIsACookieQuestion' | translate }}</h3>
<p>{{ 'whatIsACookieAnswer' | translate }}</p>
<hr>
<h3>Mit kell érteni a "hasonló technológiák" alatt?</h3>
<p>A hasonló technológiákon egyrészt a sütikhez hasonló célt betöltő, webes tárolásra szolgáló HTML5 localStorage objektumot kell érteni, amiben kulcs – érték párok tárolhatóak, másrészt a böngésző memóriáját, ahol a hozzáférést biztosító "accessToken" van tárolva. A Local Storage-ben olyan adatok kerülnek tárolásra, amelyeket csak a felhasználó gépe használ fel, és a szervernek nem szükségesek. Ennek megfelelően a webhelyen a honlap nyelve és az árak pénzneme van a Local Storage-ben tárolva. A sütikkel ellentétben nem rendelkeznek lejárati dátummal, ezért nem törlődnek automatikusan a böngészőből, viszont manuálisan törölhetőek a böngésző beállításaiban.</p>
<hr>
<h3>Hol állíthatom be a sütik használatát a böngészőben?</h3>
<p>A sütik kezelése böngészőnként eltérő, így ezek módja az alábbi linkeken található meg:</p>
<ul>
	<li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=hu">Chrome</a></li>
	<li><a href="https://support.mozilla.org/hu/kb/sutik-informacio-amelyet-weboldalak-tarolnak-szami">Firefox</a></li>
	<li><a href="https://support.apple.com/hu-hu/guide/safari/sfri11471/mac">Safari</a></li>
	<li><a href="https://support.microsoft.com/hu-hu/microsoft-edge/cookie-k-t%C3%B6rl%C3%A9se-a-microsoft-edge-ben-63947406-40ac-c3b8-57b9-2a946a29ae09">Microsoft Edge</a></li>
	<li><a href="https://support.microsoft.com/hu-hu/topic/cookie-k-t%C3%B6rl%C3%A9se-%C3%A9s-kezel%C3%A9se-168dab11-0753-043d-7c16-ede5947fc64d">Internet Explorer</a></li>
</ul>
<hr>
<h3>{{ 'cookieTypesAndTheirPurpose' | translate }}</h3>
<b>{{ 'necessaryCookies' | translate }}</b>
<p>{{ 'necessaryCookiesInfo' | translate }}</p>
<b>{{ 'functionalCookies' | translate }}</b>
<p>{{ 'functionalCookiesInfo' | translate }}</p>
<b>{{ 'analyticalCookies' | translate }}</b>
<p>{{ 'analyticalCookiesInfo' | translate }}</p>
<b>{{ 'advertisingCookies' | translate }}</b>
<p>{{ 'advertisingCookiesInfo' | translate }}</p>
<hr>
<h3>A látogató gépén elhelyezett, ugyanakkor a látogatóval összefüggésbe hozható adatok, amelyeket a webhely felhasznál:</h3>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="10%">{{ 'type' | translate }}</th>
				<th width="15%">{{ 'name' | translate }}</th>
				<th>Tárolás helye</th>
				<th>Adatkezelés jogalapja</th>
				<th width="50%">Adatkezelés célja</th>
				<th width="15%">Adatkezelés időtartama</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="6">{{ 'necessary' | translate }}</td>
				<td>accessToken</td>
				<td>Böngésző memóriája</td>
				<td rowspan="6">Jogos érdek (a weboldal alapvető funkcióinak biztosítása)</td>
				<td>A sikeres bejelentkezést követően a regisztrációhoz kötött tartalmakhoz szükséges hozzáférés biztosítása.</td>
				<td>5 perc</td>
			</tr>
			<tr>
				<td>refreshTokenSet</td>
				<td rowspan="5">Cookies</td>
				<td>Amennyiben a felhasználó már sikeresen bejelentkezett, és egy új lapon vagy ablakban nyitja meg a weboldalt, akkor a munkamenet folytatása, ha még nem járt le az 5 perc hosszúságú munkamenet.</td>
				<td>5 perc</td>
			</tr>
			<tr>
				<td>refreshToken</td>
				<td>Amennyiben a felhasználó már sikeresen bejelentkezett, és még nem járt le az 5 perc hosszúságú munkamenet, akkor a refreshToken segítségével egy új hozzáférési token (ami egy változóban lesz tárolva accessToken néven) biztosítása a felhasználónak anélkül, hogy újra meg kellene adnia a belépési adatait, így a munkamenet tovább folytatódhat újabb 5 percig.</td>
				<td>5 perc</td>
			</tr>
			<tr>
				<td>rememberMe</td>
				<td>Az "emlékezz rám" funkció engedélyezése</td>
				<td>7 nap</td>
			</tr>
			<tr>
				<td>rememberMeToken</td>
				<td>Az "emlékezz rám" funkció használatakor a felhasználóhoz tartozó egyedi rememberMeToken segítségével egy új hozzáférési token biztosítása anélkül, hogy a felhasználónak meg kellene adnia a belépési adatait.</td>
				<td>7 nap</td>
			</tr>
			<tr>
				<td>cookieConsent</td>
				<td>A felhasználó - egyes süti típusokhoz való - hozzájárulásának megismerése, ami meghatározza, hogy milyen süti típusok helyezhetőek el a felhasználó gépén.</td>
				<td>1 év</td>
			</tr>
			<tr>
				<td rowspan="2">{{ 'functional' | translate }}</td>
				<td>lang</td>
				<td rowspan="2">Local Storage</td>
				<td rowspan="2">Érintett hozzájárulása</td>
				<td>A honlap nyelvének meghatározása</td>
				<td rowspan="2">addig tart, amíg a felhasználó önként nem törli ezeket az adatokat a böngésző beállításaiban</td>
			</tr>
			<tr>
				<td>currency</td>
				<td>A honlapon található árak pénznemének meghatározása</td>
			</tr>
			<tr>
				<td rowspan="3">{{ 'analytical' | translate }}</td>
				<td>_ga</td>
				<td rowspan="3">Cookies</td>
				<td rowspan="3">Érintett hozzájárulása</td>
				<td rowspan="3">A Google Analytics által elhelyezett sütik segítségével a webhelyen található oldalak látogatottságának figyelése. További részleteket ezen sütikről a <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">Google Analytics süti használati oldalán</a> olvashat.</td>
				<td>2 év</td>
			</tr>
			<tr>
				<td>_gid</td>
				<td>24 óra</td>
			</tr>
			<tr>
				<td>_gat</td>
				<td>1 perc</td>
			</tr>
			<tr>
				<td>{{ 'advertising' | translate }}</td>
				<td>Jelenleg az oldal nem használ reklám sütiket.</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
</div>