<div class="main">
	<div class="container">	
		<h1 style="text-align: center">Dear {{firstName}} {{lastName}}!</h1>
		<div style="text-align: center">Your authentication code:</div>
		<div class="button-container">
			<a disabled>{{ token }}</a>
		</div>
		<p><b>Sincerely,<br>{{ siteName }}</b></p>
	</div>
</div>