<div class="main">
	<div class="container">	
		<h1 style="text-align: center">Tisztelt {{lastName}} {{firstName}}!</h1>
		<div style="text-align: center">A belépéshez szükséges hitelesítő kód:</div>
		<div class="button-container">
			<a disabled>{{ token }}</a>
		</div>
		<p><b>Üdvözlettel,<br>{{ siteName }}</b></p>
	</div>
</div>