<div class="main">
	<div class="container">	
		<h1 style="text-align: center">Tisztelt {{lastName}} {{firstName}}!</h1>
		<p>Megtekintési előzményei alapján a következő akciókat szeretnénk a figyelmébe ajánlani:</p>
		<p><b>Üdvözlettel,<br>Digital Deals</b></p>
	</div>
</div>