<div class="container-custom">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">Elfelejtett jelszó</h2>
		</div>
		<div class="card-body">
			<p>Kérjük adja meg az email címét, ahová az új jelszó létrehozásához szükséges megerősítő linket küldhetjük.</p>
			<form #forgottenPasswordForm="ngForm" (ngSubmit)="onSubmit(forgottenPasswordForm)">
				<div class="form-group mb-3">
					<label for="email">Email</label>
					<input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="example@mail.com">
				</div>
				<div class="text-center">
					<input type="submit" class="btn-block" value="Link küldése">
				</div>
			</form>
		</div>
	</div>
</div>