<div class="container-custom">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">{{ 'passwordForgotten' | translate }}</h2>
		</div>
		<div class="card-body">
			<p>{{ 'passwordForgottenInfo' | translate }}</p>
			<form #forgottenPasswordForm="ngForm" (ngSubmit)="onSubmit(forgottenPasswordForm)">
				<div class="form-group mb-3">
					<label for="email">Email</label>
					<input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="example@mail.com">
				</div>
				<div class="text-center">
					<input type="submit" class="btn-block" value="{{ 'sendLink' | translate }}">
				</div>
			</form>
		</div>
	</div>
</div>