.backToTop {
	position: fixed;
	right: 25px;
	bottom: 50px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	z-index: 98;

	&:after{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid white;
	}
}