<div class="filter">
	<div class="row">
		<div class="col-12">
			<div class="row mb-2">
				<div class="col-12 col-sm-6 col-lg-8 mb-2 mb-lg-0">
					<div class="row">
						<div class="col-12 col-sm-4 col-lg-2 text-sm-right">{{ 'name' | translate }}:</div>
						<div class="col-12 col-sm-8 col-lg-10"><input type="text" class="form-control" id="name" name="name" [(ngModel)]="getFilterService().filter.name" placeholder="{{ 'searchByName' | translate }}"></div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="row">
						<div class="col-12 col-sm-4 text-sm-right">{{ 'rating' | translate }}:</div>
						<div class="col-12 col-sm-4 pr-sm-2"><input type="number" class="form-control" min="0" max="100" id="minTotalRating" name="minTotalRating" [(ngModel)]="getFilterService().filter.minTotalRating" title="{{ 'minRating' | translate }}" placeholder="min"></div>
						<div class="col-12 col-sm-4 pl-sm-2"><input type="number" class="form-control" min="0" max="100" id="maxTotalRating" name="maxTotalRating" [(ngModel)]="getFilterService().filter.maxTotalRating" title="{{ 'maxRating' | translate }}" placeholder="max"></div>
					</div>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-12 col-sm-6 col-lg-4 mb-2">
					<div class="row">
						<div class="col-12 col-sm-4 text-sm-right">{{ 'discountPrice' | translate }}:</div>
						<div class="col-12 col-sm-4 pr-sm-2"><input type="number" class="form-control" min="0" id="minSpecialPrice" name="minSpecialPrice" [(ngModel)]="getFilterService().filter.minSpecialPrice" title="{{ 'minSpecialPrice' | translate }}" placeholder="min"></div>
						<div class="col-12 col-sm-4 pl-sm-2"><input type="number" class="form-control" min="0" id="maxSpecialPrice" name="maxSpecialPrice" [(ngModel)]="getFilterService().filter.maxSpecialPrice" title="{{ 'maxSpecialPrice' | translate }}" placeholder="max"></div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 mb-2">
					<div class="row">
						<div class="col-12 col-sm-4 text-sm-right">{{ 'originalPrice' | translate }}:</div>
						<div class="col-12 col-sm-4 pr-sm-2"><input type="number" class="form-control" min="0" id="minOriginalPrice" name="minOriginalPrice" [(ngModel)]="getFilterService().filter.minOriginalPrice" title="{{ 'minOriginalPrice' | translate }}" placeholder="min"></div>
						<div class="col-12 col-sm-4 pl-sm-2"><input type="number" class="form-control" min="0" id="maxOriginalPrice" name="maxOriginalPrice" [(ngModel)]="getFilterService().filter.maxOriginalPrice" title="{{ 'maxOriginalPrice' | translate }}" placeholder="max"></div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 mb-2">
					<div class="row">
						<div class="col-12 col-sm-4 text-sm-right">{{ 'discount' | translate }}:</div>
						<div class="col-12 col-sm-4 pr-sm-2"><input type="number" class="form-control" min="0" max="100" id="minDiscountPercent" name="minDiscountPercent" [(ngModel)]="getFilterService().filter.minDiscountPercent" title="{{ 'minDiscountPercent' | translate }}" placeholder="min"></div>
						<div class="col-12 col-sm-4 pl-sm-2"><input type="number" class="form-control" min="0" max="100" id="maxDiscountPercent" name="maxDiscountPercent" [(ngModel)]="getFilterService().filter.maxDiscountPercent" title="{{ 'maxDiscountPercent' | translate }}" placeholder="max"></div>
					</div>
				</div>
				<div id="storeSelection" class="col-12 col-sm-6 col-lg-4">
					<div class="row">
						<div class="col-12 col-sm-4 text-sm-right">{{ 'stores' | translate }}:</div>
						<div class="col-12 col-sm-8">
							<div class="form-check">
								<label class="form-check-label">
									<input type="checkbox" name="isAllSelected" value="all" class="form-check-input" [(ngModel)]="getFilterService().isAllSelected" (click)="selectAllStores()">{{ 'all' | translate }}
								</label>
							</div>
							<div class="form-check" *ngFor="let store of getAllStores();index as i">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input" name="selectedStores" [(ngModel)]="store.isSelected" (click)="selectStore(store.name)">{{ store.name }}
								</label>
							</div>
						</div>
						<div class="col-12 col-lg-4"></div>
					</div>
				</div>
			</div>
			<!--<div class="row mb-2">
				<div id="storeSelection" class="col-12 col-sm-6 col-lg-4">
					<div class="row">
						<div class="col-12 col-sm-4 text-sm-right">{{ 'stores' | translate }}:</div>
						<div class="col-12 col-sm-8">
							<div class="form-check">
								<label class="form-check-label">
									<input type="checkbox" name="isAllSelected" value="all" class="form-check-input" [(ngModel)]="getFilterService().isAllSelected" (click)="selectAllStores()">{{ 'all' | translate }}
								</label>
							</div>
							<div class="form-check" *ngFor="let store of getAllStores();index as i">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input" name="selectedStores" [(ngModel)]="store.isSelected" (click)="selectStore(store.name)">{{ store.name }}
								</label>
							</div>
						</div>
						<div class="col-12 col-lg-4"></div>
					</div>
				</div>
			</div>-->
		</div>
		<div class="col-12">
			<div class="d-flex justify-content-end my-2">
				<button type="submit"><fa name="search"></fa>{{ 'search' | translate }}</button>
			</div>
		</div>
	</div>
</div>