<div *ngIf="gameDetailsReceived" id="gameDetails" [class.loadingImages]="gameDetails.cover && loadingImages">
	<div class="blurred-background" (click)="onClose()"></div>
	<div class="card" #gameDetailsDiv>
		<span class="close" (click)="onClose()">&times;</span>
		<div class="card-header">
			<div class="row">
				<div class="col-12 col-sm-2 mb-2 mb-sm-0 text-center text-left-sm">
					<img *ngIf="gameDetails.cover;else noimageBlock" src="{{ gameDetails.cover }}" alt="{{ gameDetails.name }}" (loaded)="loadingImages=false" height="100%">
					<ng-template #noimageBlock>
						<span class="noimage"><fa name="photo"></fa></span>
					</ng-template>
				</div>
				<div id="gameDetails" class="col-12 col-sm-10">
					<h4 class="text-center">{{ gameDetails.name }}</h4>
					<div *ngIf="gameDetails.genres.length" class="text-center">{{ 'genre' | translate}}: {{ gameDetails.genres }}</div>
					<div *ngIf="gameDetails.releaseDate" class="text-center">{{ 'releaseDate' | translate }}: {{ gameDetails.releaseDate | date : 'longDate' }}</div>
					<div class="text-center">{{ 'rating' | translate }}: 
						<span class="metascore rated" *ngIf="gameDetails.totalRating;else elseBlock">
							{{ gameDetails.totalRating | number: '1.0-0' }}
						</span>
						<ng-template #elseBlock>
							<span class="metascore tba" title="besorolás alatt">TBA</span>
						</ng-template>
					</div>
				</div>
			</div>
			<div *ngIf="gameDetails.description" class="row mt-3">
				<div class="col">
					<button class="btn-block mb-2" (click)="descriptionOpened=!descriptionOpened">
						<span *ngIf="!descriptionOpened;else hideDescription">{{ 'descriptionShow' | translate }}</span>
						<ng-template #hideDescription>
							<span>{{ 'descriptionHide' | translate }}</span>
						</ng-template>
					</button>
					<p *ngIf="descriptionOpened" class="description">{{ gameDetails.description }}</p>
				</div>
			</div>
		</div>
		<div class="card-body">
			<button *ngIf="getUserService().isAuthenticated()" class="btn-block btn-success rounded-0" (click)="openWaitlist()">
				<fa name="clock-o"></fa>
				<span *ngIf="!gameIsOnWaitlist;else editWaitlist">{{ 'addToWaitlist' | translate }}</span>
				<ng-template #editWaitlist>
					<span>{{ 'editWaitlist' | translate }}</span>
				</ng-template>
			</button>
			<div class="table-responsive">
				<table class="table table-hover table-dark mb-3">
					<thead>
						<tr>
							<th class="text-center">{{ 'store' | translate }}</th>
							<th class="text-center">{{ 'currentPrice' | translate }}</th>
							<th class="text-center">{{ 'originalPrice' | translate }}</th>
							<th class="text-center">{{ 'historicalLow' | translate }}</th>
							<th class="text-center">{{ 'discountPercent' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let store of orderedStores">
							<td class="text-center">
								<a href="{{ store.linkToGame }}" target="_blank" (click)="addToGameHistory(gameDetails._id)">{{ store.name }}</a>
							</td>
							<td class="text-center">{{ store.specialPrice }} €</td>
							<td class="text-center" [ngStyle]="{'text-decoration':store.specialPrice<store.originalPrice?'line-through':'none'}">{{ store.originalPrice }} €</td>
							<td class="text-center">{{ store.historicalLowPrice }} €</td>
							<td id="discountPercent" class="text-center">
								<span>-{{ store.discountPercent }} %</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="bottomPaddingReplacer">
				<!--a .card osztályban alkalmazott overflow-y:auto eltünteti a alsó belső margót, ezért ez pótolja azt-->
			</div>
			<app-waitlist *ngIf="waitlistOpened" [selectedGame]="selectedGame" [gameIsOnWaitlist]="gameIsOnWaitlist" (add)="isGameOnWaitlist(selectedGame._id)" (edit)="isGameOnWaitlist(selectedGame._id)" (delete)="gameIsOnWaitlist=false" (close)="waitlistOpened=false"></app-waitlist>
		</div>
	</div>
</div>