<div *ngIf="!consented || popupOpened" id="cookieConsent" class="centered">
	<h1>{{ 'cookieSettings' | translate }}</h1>
	<div class="container">
		<div class="row">
			<div class="col-12 mb-3">
				{{ 'cookieConsentInfoStart' | translate }}
				<a [routerLink]="['/cookie-policy']">{{ 'cookieConsentInfoLink' | translate }}</a>
				{{ 'cookieConsentInfoEnd' | translate }}
			</div>
			<div class="col-12">
				<button type="button" class="btn-block mb-2" (click)="consentToAllCookies()"><b>{{'acceptAll' | translate }}</b></button>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 pr-md-2 mb-2 mb-md-0">
				<button class="btn-block btn-outline-custom" type="button" (click)="consentToNecessaryCookies()">
					<b>{{ 'acceptOnlyNecessary' | translate }}</b>
				</button>
			</div>
			<div class="col-12 col-md-6 pl-md-2 ">
				<button class="btn-block btn-outline-custom" type="button" (click)="toggleSettingsPanel()"><b>{{ 'customSettings' | translate }}</b></button>
			</div>
		</div>
	</div>
</div>
<!--
<div *ngIf="!consented || popupOpened" id="cookieConsent" class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 text-center text-sm-center text-lg-left mb-2 mb-lg-0">
				{{ 'cookieConsentInfoStart' | translate }}
				<a [routerLink]="['/cookie-policy']">{{ 'cookieConsentInfoLink' | translate }}</a>
				{{ 'cookieConsentInfoEnd' | translate }}
			</div>
			<div class="col-12 col-lg-4 text-center text-sm-center text-lg-right">
				<button type="button" class="btn-block mb-2" (click)="consentToAllCookies()"><b>{{'acceptAll' | translate }}</b></button>
				<button class="btn-block btn-outline-custom" type="button" (click)="toggleSettingsPanel()"><b>{{ 'customSettings' | translate }}</b></button>
			</div>
		</div>
	</div>
</div>-->

<div *ngIf="settingsPanelOpened" id="settingsPanel" class="container">
	<span class="close" (click)="toggleSettingsPanel()">&times;</span>
	<form #consentForm="ngForm" id="consentForm" (ngSubmit)="consentToCustomCookies(consentForm);toggleSettingsPanel()">
		<h1>{{ 'customSettings' | translate }}</h1>
		<div class="row options mt-3">
			<div class="col-9 col-sm-10">
				<b>{{ 'necessaryCookies' | translate }}</b>
				<p>{{ 'necessaryCookiesInfo' | translate }}</p>
			</div>
			<div class="col-3 col-sm-2 text-right">
				<label>
					<input type="hidden" name=necessary [(ngModel)]="consent.necessary">
					<input type="checkbox" checked disabled>
					<span class="custom-checkbox"></span>
				</label>
			</div>
			<div class="col-9 col-sm-10">
				<b>{{ 'functionalCookies' | translate }}</b>
				<p>{{ 'functionalCookiesInfo' | translate }}</p>
			</div>
			<div class="col-3 col-sm-2 text-right">
				<label>
					<input type="checkbox" name="functional" [(ngModel)]="consent.functional">
					<span class="custom-checkbox"></span>
				</label>
			</div>
			<div class="col-9 col-sm-10">
				<b>{{ 'analyticalCookies' | translate }}</b>
				<p>{{ 'analyticalCookiesInfo' | translate }}</p>
			</div>
			<div class="col-3 col-sm-2 text-right">
				<label>
					<input type="checkbox" name="analytical" [(ngModel)]="consent.analytical">
					<span class="custom-checkbox"></span>
				</label>
			</div>
			<div class="col-9 col-sm-10">
				<b>{{ 'advertisingCookies' | translate }}</b>
				<p>{{ 'advertisingCookiesInfo' | translate }}</p>
			</div>
			<div class="col-3 col-sm-2 text-right">
				<label>
					<input type="hidden" name="advertising" [(ngModel)]="consent.advertising">
					<input type="checkbox" disabled>
					<span class="custom-checkbox"></span>
				</label>
			</div>
		</div>
		<button class="btn-block" type="submit">
			{{ 'saveSettings' | translate }}
		</button>
	</form>
</div>

<button id="settingsButton" *ngIf="consented && !popupOpened" (click)="togglePopup()">
	<fa name="cog" size="lg"></fa>
</button>
