<div *ngIf="!isConsented()" id="cookie-consent">
	<!--<div class="container">
		<div class="row">
			<div class="col-9">
				Az oldalon sütiket használunk az oldal funkcióinak teljeskörű működése, illetve a felhasználói élmény növelése érdekében. A sütikről szóló részletes tájékoztatóhoz kattintson <button [routerLink]="['/cookie-policy']">ide</button>, az elfogadásukhoz és a testreszabásához pedig kérjük kattintson a gombra.
			</div>
			<div class="col-3 text-right">
				<button type="button">Sütik testreszabása</button>
			</div>
		</div>
	</div>-->
	<p>Az oldalon sütiket használunk az oldal funkcióinak teljeskörű működése, illetve a felhasználói élmény növelése érdekében.</p>
	<button class="btn-block" [routerLink]="['/cookie-policy']">Süti tájékoztató</button>
	<button class="btn-block" type="button" (click)="customizeCookies()">Sütik testreszabása</button>
</div>
<button id="privacy" (click)="customizeCookies()"><fa name="cog"></fa>Adatvédelem</button>
<div *ngIf="customize" id="customize-cookies">
	<form ngForm="#customizeForm" (ngSubmit)="saveSettings()">
		<h3>Adatvédelmi beállítások</h3>
		<p>A Digital Deals oldalon a regisztrációkor megadott személyes és a belépéshez szükséges adatokat, valamint a használt eszköz jellemzőiről információkat gyűjtünk. Ezek egy része elengedhetetlen az oldal megfelelő működése érdekében, de a lentebb található lehetőségeket személyre szabhatja, amelyek kizárólag erre az oldalra fognak vonatkozni. Amennyiben nem kíván hozzájárulni ezen adatok felhasználásához, akkor kikapcsolhatja az egyes opciókat.</p>
		<div class="row">
			<div class="col-10">
				Az Ön pontos geolokációs adatainak felhasználása
			</div>
			<div class="col-2">
				<label>
					<input type="checkbox" name="geolocation" [(ngModel)]="isGeolocationEnabled()">
					<span class="custom-checkbox"></span>
				</label>
			</div>
			<div class="col-10">
				Személyre szabott ajánlatok
			</div>
			<div class="col-2">
				<label>
					<input type="checkbox" name="recommendations" [(ngModel)]="areRecommendationsEnabled()">
					<span class="custom-checkbox"></span>
				</label>
			</div>
			<div class="col-10">
				Push értesítések fogadása
			</div>
			<div class="col-2">
				<label>
					<input type="checkbox" name="pushNotifications" [(ngModel)]="arePushNotificationsEnabled()">
					<span class="custom-checkbox"></span>
				</label>
			</div>
			<div class="col-10">
				Az Ön által használt eszköz jellemzőinek automatikus elküldése belépéskor.
			</div>
			<div class="col-2">
				<label>
					<input type="checkbox" name="device" [(ngModel)]="isDeviceEnabled()">
					<span class="custom-checkbox"></span>
				</label>
			</div>
		</div>
		<div class="d-flex justify-content-between mt-3">
			<button type="submit">Mentés</button>
			<button (click)="customizeCookies()">Bezárás</button>
		</div>
	</form>
</div>
