@import "./variables";
@import "./mixins";


* {
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;
}

/*html,body {
	height: 100%;
}*/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

body{
	background: linear-gradient(90deg,#0C1D21,#2F383A,#0C1D21);
	color: white;
	font-family: Arial,sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;

}

app-root {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	app-footer{
		margin-top: auto;
	}
}

main {
	position: relative;
	//background: linear-gradient(90deg,#073642,#1B2540,#073642);
	//font-family: 'Concert One';
	font-family: 'Ubuntu', sans-serif;
	//padding: 50px;
	//100% eszköz kijelző magasság - footer magassága
	//min-height: calc(100vh - 134px);
	//min-height: calc(100vh - 160px);
	min-height: 100%;
	//min-height: 100vh;
	//margin: 70px 0 0;
	padding: 120px 50px 50px;
}

h2,label {
	color: white;
}

h3{
	text-align: center;
}

a{
	color: $color-link;
	transition: 0.3s;
	
	&:hover {
		color: white !important;
		text-decoration: none;
	}

	&.active {
		color: white !important;
	}
}

th,td {
	white-space: nowrap;
}

img {
	vertical-align: middle;
}

fa {
	margin-right: 5px;
}

.loadingImages{
	display: none;
}

.table-responsive {
	box-shadow: 0 0 5px 2px darken($color-primary,8%);
	//margin-top: 50px;
}

table {
	margin: 0 !important;

	/*button,input[type="submit"] {
		font-size: 18px;
		width: 100%;
		height: 100%;
		padding: 2px;
		margin-top: 5px;
	}*/

	th,td {
		border-bottom: 1px solid #999;
		vertical-align: top;
	}

	th {
		background-color: $color-secondary;
		border-top: none;
		color: white;
		font-size: 16px;
		padding: 6px 12px !important;
	}

	td {
		background-color: #0D1315;
		color: white;

		&:hover {
			color: white;
		}

		#storeSelection {
			line-height: 20px;
		}

		a {
			color: $color-link;
			text-weight: bold;
		}
	}
}

.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(4,34,42,0.99);
	z-index: 90;
	overflow: auto;

	&.animated {
		animation: fadeIn 1s linear;
	}

	.loading-icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100px;
		height: 100px;
		box-sizing: border-box;
		border: 12px solid #1F2C32;
		border-top: 12px solid $color-secondary;
		border-radius: 50%;
		animation: rotate 1s linear infinite;
	}

	.custom-modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		min-width: 300px !important;
		margin: 30px auto 50px;
	}
}

.container{
	position: relative;
}

input,select {
	//font-family: Arial,sans-serif;
	line-height: 1.4em;
}

.container-custom{
	position: relative;
	min-width: 300px !important;
	max-width: 600px;
	animation: slideDown 1s, fadeIn 2s;
	margin: 0 auto;

	&.fixed{
		animation: none;
	}

	&.deals{
		max-width: 100%;

		tr {
			cursor: pointer;

			td {
				vertical-align: middle;
			}
		}
	}
	/*
	.table-responsive {
		box-shadow: 0 0 5px 2px darken($color-primary,8%);
		margin-top: 50px;
	}

	table {
		margin: 0;

		button,input[type="submit"] {
			font-size: 18px;
			width: 100%;
			height: 100%;
			padding: 2px;
			margin-top: 5px;
		}

		&.table-hover{
			th,td {
				border-bottom: 1px solid #999;
				vertical-align: middle;
			}

			th {
				//background-color: darken($color-primary,5%);
				background-color: $color-secondary;
				border-top: none;
				color: white;
				font-size: 20px;
			}

			td {
				background-color: #0D1315;
				color: white;
				height: 70px;
				//line-height: 56px;

				#storeSelection {
					line-height: 20px;
				}

				a {
					color: $color-link;
					text-weight: bold;
				}
			}
		}
	}*/

	.card {
		//box-shadow: 0 0px 10px 5px $color-secondary;
		border-radius: 5px;

		ul {
			//@include horizontal-list;
			margin: {
				top: 10px;
				bottom: 10px;
			}

			a {
				position: relative;
				display: block;
				margin: 0 5px;
				color: #aaa;
				text-transform: uppercase;
				text-decoration: none;
				padding-bottom: 4px;
				transition: 0.3s;

				&::before{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 4px;
					background-color: #4DCBFF;
					border-radius: 10px;
					transition: 0.3s;
				}

				&:hover,&.active {
					color: white;
				}

				&:hover::before,&.active::before{
					width: 100%;
					box-shadow: 0 2px 20px 2px $color-secondary;
				}
			}
		}
	}
}

input[type="submit"],button,a.salelink {
	background-color: $color-secondary;
	//box-shadow: 0 0 5px 2px darken($color-secondary,5%);
	border: 1px solid $color-secondary;
	//border-radius: 5px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-family: Arial,sans-serif;
	outline: none !important;
	padding: 5px 20px;
	transition: 0.2s;

	&:hover {
		//background-color: #0978A5;
		background-color: darken($color-secondary,5%);
		//box-shadow: 0 0 5px 2px $color-primary;
		//box-shadow: 0 0 5px 1px #0978A5;
	}

	&:active {
		background-color: #075676;
		box-shadow: 0 0 5px 1px #075676;
		border: 1px solid #075676;
		transform: translateY(2px);
	}
}

#time-left {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: $color-secondary;
	width: 200px;
	height: 22px;
	font-size: 14px;
	text-align: center;
	z-index: 99;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -22px;
		border: 22px solid;
		border-color: $color-secondary transparent transparent transparent;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: -22px;
		border: 22px solid;
		border-color: $color-secondary transparent transparent transparent;
	}
}

#info-box {
	position: absolute;
	background-color: $color-secondary;
	width: 100%;
	//height: 30px;
	height: 0;
	padding: 0px;
	overflow: hidden;
	z-index: 99;

	&.animated {
		animation: slideDownAlert 3s linear;
	}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $color-link;
	//border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}

@keyframes slideDown {
	from {transform: translateY(-200%);}
	to {transform: translateY(0);}
}

@keyframes slideDownAlert{
	0% {height: 0}
	10% {height: 30px}
	50% {height: 30px}
	90% {height: 30px}
	100% {height: 0}
}

@keyframes slideDownFilter{
	0% {height: 0}
	10% {height: 100%}
	50% {height: 100%}
	90% {height: 100%}
	100% {height: 0}
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes changeColor {
	0% { box-shadow: 0 0px 20px 6px $color-secondary;}
	50% { box-shadow: 0 0px 20px 1px $color-secondary;}
	100% { box-shadow: 0 0px 20px 6px $color-secondary;}
}

@keyframes float {
	0% {transform: translate(0)}
	50% {transform: translate(0,-20px)}
	0% {transform: translate(0)}
}

@keyframes rotate {
	from {transform: translate(-50%,-50%) rotate(0deg)}
	to {transform: translate(-50%,-50%) rotate(360deg)}
}

@media screen and (max-width: 768px){
	body {
		font-size: 14px;
	}

	table {
		th {
			font-size: 14px;
		}

		#genres {
			font-size: 12px;
		}
	}

	.container {
		&.stretchedOnMobile {
			padding-left: 0;
			padding-right: 0;
		}
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 18px;
	}
}

@media screen and (max-width: 578px){
	body {
		font-size: 12px;
	}

	table {
		th {
			font-size: 12px;
		}
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	h5 {
		font-size: 14px;
	}
}