<!--<div [class.loadingImages]="loadingImages">-->
<div *ngIf="slides">
	<div class="news-slideshow">
		<div class="news-main">
			<div class="row">
				<div class="col-lg-4 d-none d-lg-block big-screen-title">
					<div class="news-container">
						<div class="news-description text-center" [ngClass]="{'fadeIn':fadeIn && !isMobile()}">
							<h3>{{slides[index].title}} {{ 'sale' | translate }}</h3>
							<p>{{ 'endOfDeal' | translate }}: {{months[getLanguage()][slides[index].endOfOffer.getMonth()]}} {{slides[index].endOfOffer.getDate()}}.</p>
							<a class="salelink" href="{{slides[index].link}}" target="_blank">{{ 'letssee' | translate }}</a>
						</div>
					</div>
					<span class="custom-badge d-none d-lg-block">
						<span class="custom-badge-text" [ngClass]="{'fadeIn':fadeIn && !isMobile()}">-{{slides[index].discountPercent}}%</span>
					</span>
				</div>
				<div class="col-12 col-lg-8">
					<div class="small-screen-title d-block d-lg-none">
						<div>
							<a href="{{slides[index].link}}" target="_blank">
								<h3>{{slides[index].titles}}</h3>
							</a>
						</div>
						<div>
							<a href="{{slides[index].link}}" target="_blank">
								<p>{{ 'endOfDeal' | translate }}: {{months[slides[index].endOfOffer.getMonth()]}} {{slides[index].endOfOffer.getDate()}}.</p>
							</a>
						</div>
					</div>
					<div class="news-image" (swipeleft)="next()" (swiperight)="previous()">
						<!--<img [ngClass]="{'fadeIn':fadeIn && !isMobile()}" [src]='"/assets/"+images[index]+".jpg"' alt="{{titles[index]}}" (loaded)="loadingImages=false" width="100%">-->
						<img [ngClass]="{'fadeIn':fadeIn && !isMobile()}" [src]="slides[index].image" alt="{{slides[index].title}}" (loaded)="loadingImages=false" width="100%">
					</div>
					<span class="custom-badge d-inline-block d-lg-none">
						<span class="custom-badge-text" [ngClass]="{'fadeIn':fadeIn && !isMobile()}">-{{slides[index].discountPercent}}%</span>
					</span>
				</div>
				<span class="pager pager-left" (click)="!isMobile() && previous()" (tap)="isMobile() && previous()"></span>
				<span class="pager pager-right" (click)="!isMobile() && next()" (tap)="isMobile() && next()"></span>
			</div>
		</div>
		<div class="d-none d-lg-block nav-buttons text-center">
			<span *ngFor="let slide of slides;index as i" [class.active]="index==i" [class.passed]="index>i" (click)="changeNews(i)"></span>
		</div>
	</div>
	<app-article-creator *ngIf="editorOpened" (created)="getArticles()" (close)="onCloseEditor()" [articleToEdit]="articleToEdit"></app-article-creator>
	<div *ngIf="isAdmin() && !editorOpened" class="adminButtons">
		<button type="button" (click)="editorOpened=true"><fa name="plus"></fa>{{ 'createArticle' | translate}}</button>
	</div>
	<div class="row content">
		<div class="col-12 col-lg-8 news">
			<div class="d-none d-lg-block newsLabel">{{ 'latestNews' | translate }}</div>
			<article class="row" *ngFor="let article of articles;index as i">
				<div class="col-12 col-md-3">
					<a href="/articles/{{article.slug}}">
						<img src="{{article.image}}" alt="" width="100%">
					</a>
				</div>
				<div class="col-12 col-md-9">
					<div class="d-flex justify-content-between">
						<div class="d-inline-block date">
							<fa name="calendar"></fa>{{article.createdAt | date: 'short'}}
						</div>
						<div class="d-inline-block" *ngIf="isAdmin()" class="adminActionIcons">
							<fa name="pencil" size="lg" (click)="editArticle(article)"></fa>
							<fa name="trash" size="lg" class="ml-2" (click)="deleteArticle(article._id)"></fa>
						</div>
					</div>
					<h2>
						<a href="/articles/{{article.slug}}">{{ getArticlePropertyTextByLang(article,'title') }}</a>
					</h2>
					<div class="lead">{{ getArticlePropertyTextByLang(article,'lead') }}</div>
						<!--<span class="divider">|</span>
						<span class="comments"><fa name="comments"></fa>0</span>-->
				</div>
			</article>
		</div>
		<div class="col-12 col-lg-4 sidebar">
			<div class="topNews">
				<div class="topNewsLabel">{{ 'topNews' | translate }}</div>
				<div class="topNewsItem" *ngFor="let article of topArticles;index as i">
					<a href="/articles/{{article.slug}}">{{i+1}}. {{ getArticlePropertyTextByLang(article,'title') }}</a>
				</div>
			</div>
		</div>
	</div>
</div>